@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Porf's Gaming'</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>PS5 Games</td>
                <td>$59.99</td>
            </tr>
            <tr>
                <td>Arcade</td>
                <td>$4/hour</td>
            </tr>
        </tbody>
    </table>
</div>