@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Porf's Gaming'</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>PS5 Games</td>
                <td>$59.99</td>
            </tr>
            <tr>
                <td>Arcade</td>
                <td>$4/hour</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>About Porf's Gaming</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum velit laoreet
    id donec ultrices tincidunt arcu non. In metus vulputate eu scelerisque. 
    Feugiat in ante metus dictum at tempor commodo ullamcorper. Mauris nunc congue nisi vitae suscipit. Tortor consequat id porta nibh venenatis cras sed. Proin libero nunc consequat interdum varius sit amet mattis. 
    Libero justo laoreet sit amet cursus sit amet. Enim lobortis scelerisque fermentum dui faucibus in. Cursus sit amet dictum sit.
    Nulla facilisi etiam dignissim diam. Molestie at elementum eu facilisis sed odio morbi quis commodo. Feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Et malesuada fames ac turpis. 
    Facilisis mauris sit amet massa. Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. 
    Cras semper auctor neque vitae tempus quam pellentesque. Magna fermentum iaculis eu non diam phasellus vestibulum lorem sed. 
    Aliquet porttitor lacus luctus accumsan tortor. Tincidunt dui ut ornare lectus sit. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor. 
    Eget gravida cum sociis natoque penatibus et magnis dis parturient.
</p>